<ion-header [translucent]="true">
  <ion-title collapse="condense" style="font-size: 80px; border-bottom: 1px solid black; text-align: center;">
    Lista de usuarios
  </ion-title>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-input [formControl]="Nombre" label="Nombre:" placeholder="ingresa el nombre del usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [formControl]="Edad" label="Edad:" placeholder="ingresa la edad del usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [formControl]="correo" label="correo:" placeholder="ingresa tu correo"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button id="buttonclick" (click)="buttonclick()">Enviar</ion-button>
  <div>
    <h1 style="text-align: center;">Usuarios</h1>
    <ion-grid>
      <ion-row style="text-align: center;">
        <ion-col>Nombre del Usuario</ion-col>
        <ion-col>Correo del usuario</ion-col>
        <ion-col> Edad del usuario</ion-col>
        <ion-col> Borrar</ion-col>
        <ion-col> Editar</ion-col>
      </ion-row>
      <ion-row *ngFor="let task of tasks let i = index" style="text-align: center;">
        <ion-col>  {{ task.nombre }}</ion-col>
        <ion-col> {{ task.correo }}</ion-col>
        <ion-col> {{ task.edad}}</ion-col>
        <ion-col><ion-button (click)="Editar(i)">Editar</ion-button></ion-col>
        <ion-col><ion-button  (click)="borrar(i)">Borrar</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>